<%= form_with(model:[@task_category,@detail_task],local:true) do |f|%>
<%# <%= render 'shared/error_messages', model: f.object %>
 <table class=detail-table>
  <tr> 
  <th class="detail-task">
    <%= f.label :title, "TODOタイトル" %></th><br />
    <td><%= f.text_field :title %></td>
  </tr>
   <tr> 
  <th class="detail-task">
    <%= f.label :description, "詳細" %></th><br />
    <td><%= f.text_field :description, class: :form_description %></td>
  </div>
 </tr>
 <tr> 
  <th class="detail-task">
    <%= f.label :deadline, "完了期日" %></th><br />
    <td><%= raw sprintf(
          f.date_select(
            :deadline,
            prompt:"--",
            use_month_numbers:true,
            start_year:Time.now.year,
            end_year:2020,
            date_separator:'%s'),'年','月')+'日'%></td>
  </tr>
  <tr>
  <th class="detail-task">
    <%= f.label :state_id, "進捗状況" %></th><br />
    <td><%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"state-select"}) %></td>
  </tr>
  <tr>
  <th class="detail-task">
    <%= f.label :user_id, "担当者" %></th><br />
     <td><% users = User.pluck(:name, :id) %>
     <% users.each do |user| %>
     <% user[0] = "#{user[1]}. #{user[0]}" %>
      <% end %>
    <%= f.select :user_id, users, { prompt: '選択してください' } %> </td>
  </tr>
  <tr>
   </table>
  <div class="actions">
    <%= f.submit "保存する", class: :form_btn ,method: :post %></div>
<% end %>
