<%= render "shared/header" %>
<h1>TODO詳細</h1>
  <table>
    <tr>
      <th class="table">TODOタイトル</th>
        <td><%= @task_category.title %></td>
      </tr>
      <th class="table">詳細</th>
        <td><%= @task_category.description%></td>
      </tr>
      <th class="table">完了期日</th>
        <td><%= @task_category.deadline%></td>
      </tr>    
      <th class="table">進捗状況</th>
        <td><%= @task_category.state.name%></td>
      </tr>
      <th class="table">担当者</th>
        <td><%= @task_category.user.name%></td>
      </tr>                        
  </table>