<%= render "shared/header" %>
<div class="todo-innner">
<h1 class="page-titile">詳細ページ</h1>
  <table>
    <tr>
      <th class="table">TODOタイトル</th>
        <td><%= @task_category.title %></td>
      </tr>
      <th class="table">詳細</th>
        <td><%= @task_category.description%></td>
      </tr>
      <th class="table">完了期日</th>
        <td><%= @task_category.deadline%></td>
      </tr>    
      <th class="table">進捗状況</th>
        <td><%= @task_category.state.name%></td>
      </tr>
      <th class="table">担当者</th>
        <td><%= @task_category.user.name%></td>
      </tr>                        
  </table>

  <%= render "detail_form", locals: { detail_task: @detail_task } %>
   <% if @detail_tasks.present? %>
    <% @task_category.detail_tasks.each do |detail_task|%>
      <li class="detail_tasks_list">
      <%= detail_task.title %>
      <%= detail_task.deadline%>
      <%= detail_task.user.name %>
      <%= link_to '編集', edit_task_category_detail_task_path(@task_category,detail_task.id) %> 
      <%= link_to '削除', task_category_detail_task_path(@task_category,detail_task.id), method: :delete, data: { confirm: '削除してよろしいですか？' } %>
      </li>
    <% end %>
  <% end %>
  </div>